In [1]:
import pandas as pd
import numpy as np

### Reading in data suburb_vs_crime csv

In [16]:
crime_df=pd.read_csv('../003_Extract_Transform_Crime_Data/01_Outputs/suburb_vs_crime.csv')
crime_df.head()

,lga_name,postcode,suburb,crime_id,crime_name,average_incident
0,Banyule,3079,ivanhoe,A20,Assault and related offences,43.600000
1,Banyule,3079,ivanhoe,A50,Robbery,3.000000
2,Banyule,3079,ivanhoe,A70,"Stalking, harassment and threatening behaviour",8.100000
3,Banyule,3079,ivanhoe,A80,Dangerous and negligent acts endangering people,3.333333
4,Banyule,3079,ivanhoe,B10,Arson,3.400000

### Making all string values lower case

In [15]:
crime_df['lga_name'] = crime_df['lga_name'].str.lower()
crime_df['suburb'] = crime_df['suburb'].str.lower()
crime_df.head()

,lga_name,postcode,suburb,crime_id,crime_name,average_incident
0,banyule,3079,ivanhoe,A20,Assault and related offences,43.600000
1,banyule,3079,ivanhoe,A50,Robbery,3.000000
2,banyule,3079,ivanhoe,A70,"Stalking, harassment and threatening behaviour",8.100000
3,banyule,3079,ivanhoe,A80,Dangerous and negligent acts endangering people,3.333333
4,banyule,3079,ivanhoe,B10,Arson,3.400000

### filtering for specific columns

In [5]:
melb_crime_df = crime_df[['lga_name','suburb','postcode']]

In [18]:
melb_crime_df.head()

  lga_name   suburb  postcode
0  banyule  ivanhoe      3079
1  banyule  ivanhoe      3079
2  banyule  ivanhoe      3079
3  banyule  ivanhoe      3079
4  banyule  ivanhoe      3079

# id and lga table

### creating list of numbers to give ids for local government areas

In [19]:
len(list(melb_crime_df['lga_name'].unique()))

32

In [8]:
numbers = [x for x in range(1,33)]
lga_name = list(melb_crime_df['lga_name'].unique())

In [9]:
local_govt_areas = pd.DataFrame({
    'lga_id':numbers,
    'lga_name':lga_name})

In [20]:
local_govt_areas.head()

   lga_id    lga_name
0       1     banyule
1       2     bayside
2       3  boroondara
3       4    brimbank
4       5    cardinia

In [11]:
local_govt_areas.to_csv('../005_Load_SQL/01_Inputs/local_govt_areas.csv', index = False)


# linking table

In [12]:
dropped_df = melb_crime_df.drop_duplicates(subset='suburb')
x = dropped_df.merge(local_govt_areas, on='lga_name', how='inner')

In [21]:
lga_suburbs = x[['lga_id','suburb']]
lga_suburbs.head()

   lga_id              suburb
0       1             ivanhoe
1       1        ivanhoe east
2       1           bellfield
3       1  heidelberg heights
4       1     heidelberg west

In [14]:
lga_suburbs.to_csv('../005_Load_SQL/01_Inputs/lga_suburbs.csv', index = False)