In [1]:
import pandas as pd
import numpy as np
import pandas as pd

In [2]:
# define path to Heesu's final suburb list
suburbs_path = "01_Outputs/melbourne_suburbs.csv"

In [3]:
# define path to downloaded postcode lat long 's list
postcode_path = "../000_Resources/Aust Postcode Location/Australian_Post_Codes_Lat_Lon.csv"

In [4]:
#read in csv for final suburbs list
suburbnames = pd.read_csv(suburbs_path)

In [5]:
#read in csv for postcode lat long list
postcode = pd.read_csv(postcode_path)

In [6]:
#Dataframes for final suburbs list
suburbnamesDF = pd.DataFrame(suburbnames)
#Convert column name all merge
suburbnamesDF['suburb'] = suburbnamesDF['suburb'].str.lower()
suburbnamesDF

                 suburb
0            abbotsford
1            aberfeldie
2          airport west
3             albanvale
4           albert park
..                  ...
316        williamstown
317  williamstown north
318             windsor
319           yallambie
320          yarraville

[321 rows x 1 columns]

In [7]:
#Dataframes for postcode long lat list
postcodeDF = pd.DataFrame(postcode)
#Dataframes for final suburbs list
postcodeDF['suburb'] = postcodeDF['suburb'].str.lower()
postcodeDF

,postcode,suburb,state,dc,type,lat,lon
0,200,australian national university,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,barton,ACT,NaN,LVR,-35.201372,149.095065
2,800,darwin,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,darwin,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,parap,NT,PARAP,Post Office Boxes,-12.432181,130.843310
...,...,...,...,...,...,...,...
16075,9010,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16076,9013,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16077,9015,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16078,9020,brisbane,QLD,CITY DC - BRISBANE,LVR,-27.603479,152.823141
16079,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#Merge on suburb
suburbpostcodemerge = pd.merge(suburbnamesDF, postcodeDF, on= "suburb",  how ="left")
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
0,abbotsford,2046.0,NSW,LIDCOMBE DELIVERY CENTRE,Delivery Area,-33.852469,151.129453
1,abbotsford,3067.0,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
2,abbotsford,4670.0,QLD,BUNDABERG DC,Delivery Area,-24.843687,152.024909
3,aberfeldie,3040.0,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042.0,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
...,...,...,...,...,...,...,...
479,windsor,3181.0,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
480,windsor,4030.0,QLD,STAFFORD DC,Delivery Area,-27.435277,153.031507
481,windsor,5501.0,SA,TWO WELLS LPO,Delivery Area,-34.421671,138.330791
482,yallambie,3085.0,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
483,yarraville,3013.0,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [9]:
# Get names of indexes for which column state doesn not equal VIC
indexNames = suburbpostcodemerge[ suburbpostcodemerge['state'] != "VIC" ].index

In [11]:
# Delete these row indexes from dataFrame
suburbpostcodemerge.drop(indexNames , inplace=True)

In [12]:
#Check DF
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
1,abbotsford,3067.0,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
3,aberfeldie,3040.0,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042.0,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
5,albanvale,3021.0,VIC,ST ALBANS DC,Delivery Area,-37.745934,144.770027
6,albert park,3206.0,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.840705,144.955710
...,...,...,...,...,...,...,...
474,williamstown,3016.0,VIC,NEWPORT DC,Delivery Area,-37.856902,144.897698
477,williamstown north,3016.0,VIC,NEWPORT DC,Delivery Area,-37.857681,144.887041
479,windsor,3181.0,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
482,yallambie,3085.0,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
483,yarraville,3013.0,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [13]:
#Check datatype for suburns 
suburbpostcodemerge['postcode'].dtypes

dtype('float64')

In [14]:
#convert suburbs to integer
suburbpostcodemerge.postcode = suburbpostcodemerge.postcode.astype(int)

In [15]:
#Recheck suburbs to integer
suburbpostcodemerge['postcode'].dtypes

dtype('int32')

In [16]:
#suburbpostcodemerge

In [17]:
#Check data info for null fields - Total records are 354
suburbpostcodemerge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 354 entries, 1 to 483
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   suburb    354 non-null    object
 1   postcode  354 non-null    int32
 2   state     354 non-null    object
 3   dc        354 non-null    object
 4   type      354 non-null    object
 5   lat       354 non-null    float64
 6   lon       354 non-null    float64
dtypes: float64(2), int32(1), object(4)
memory usage: 20.7+ KB

In [18]:
#strip leading and trailing space
suburbpostcodemerge['type'] = suburbpostcodemerge['type'].str.strip()

In [19]:
#Check uniqie values in suburb
suburbpostcodeunique = suburbpostcodemerge["suburb"].unique()
suburbpostcodeunique.sort()
print(suburbpostcodeunique)
len(suburbpostcodeunique)

['abbotsford' 'aberfeldie' 'airport west' 'albanvale' 'albert park'
 'albion' 'alphington' 'altona' 'altona meadows' 'altona north' 'ardeer'
 'armadale' 'ascot vale' 'ashburton' 'ashwood' 'aspendale'
 'aspendale gardens' 'attwood' 'avondale heights' 'balaclava' 'balwyn'
 'balwyn north' 'bangholme' 'bayswater' 'bayswater north' 'beaumaris'
 'belgrave' 'belgrave heights' 'bellfield' 'bentleigh' 'bentleigh east'
 'berwick' 'black rock' 'blackburn' 'blackburn north' 'blackburn south'
 'bonbeach' 'boronia' 'box hill' 'box hill north' 'box hill south'
 'briar hill' 'brighton' 'brighton east' 'broadmeadows' 'brooklyn'
 'brunswick' 'brunswick east' 'brunswick west' 'bulleen' 'bundoora'
 'burnley' 'burnside' 'burnside heights' 'burwood' 'burwood east'
 'cairnlea' 'camberwell' 'campbellfield' 'canterbury' 'carlton'
 'carlton north' 'carnegie' 'caroline springs' 'carrum' 'carrum downs'
 'caulfield' 'caulfield east' 'caulfield north' 'caulfield south'
 'chadstone' 'chelsea' 'chelsea heights' 'cheltenham' 'clarinda' 'clayton'
 'clayton south' 'clematis' 'clifton hill' 'coburg' 'coburg north'
 'collingwood' 'coolaroo' 'craigieburn' 'cranbourne' 'cranbourne north'
 'cremorne' 'croydon' 'croydon hills' 'croydon north' 'croydon south'
 'dallas' 'dandenong' 'dandenong north' 'dandenong south' 'deer park'
 'delahey' 'derrimut' 'diamond creek' 'dingley village' 'docklands'
 'doncaster' 'doncaster east' 'donvale' 'doveton' 'eaglemont'
 'east melbourne' 'edithvale' 'elsternwick' 'eltham' 'eltham north'
 'elwood' 'emerald' 'endeavour hills' 'epping' 'essendon' 'essendon north'
 'essendon west' 'eumemmerring' 'fairfield' 'fawkner' 'ferntree gully'
 'ferny creek' 'fitzroy' 'fitzroy north' 'flemington' 'footscray'
 'forest hill' 'frankston' 'frankston north' 'frankston south'
 'gardenvale' 'gladstone park' 'glen huntly' 'glen iris' 'glen waverley'
 'glenroy' 'gowanbrae' 'greensborough' 'hadfield' 'hallam' 'hampton east'
 'hampton park' 'hawthorn' 'hawthorn east' 'heatherton' 'heathmont'
 'heidelberg' 'heidelberg heights' 'heidelberg west' 'highett' 'hillside'
 'hoppers crossing' 'hughesdale' 'huntingdale' 'hurstbridge' 'ivanhoe'
 'ivanhoe east' 'jacana' 'junction village' 'kallista' 'kalorama' 'kealba'
 'keilor' 'keilor downs' 'keilor east' 'keilor lodge' 'keilor park'
 'kensington' 'kew' 'kew east' 'keysborough' 'kilsyth' 'kilsyth south'
 'kings park' 'kingsbury' 'kingsville' 'knoxfield' 'kooyong' 'lalor'
 'langwarrin' 'langwarrin south' 'laverton' 'lilydale' 'lower plenty'
 'lynbrook' 'lyndhurst' 'lysterfield south' 'macleod' 'maidstone'
 'malvern' 'malvern east' 'maribyrnong' 'mckinnon' 'meadow heights'
 'melbourne' 'mentone' 'middle park' 'mill park' 'mitcham' 'mont albert'
 'mont albert north' 'montmorency' 'montrose' 'moonee ponds' 'moorabbin'
 'mooroolbark' 'mordialloc' 'mount dandenong' 'mount evelyn'
 'mount waverley' 'mulgrave' 'murrumbeena' 'narre warren'
 'narre warren north' 'narre warren south' 'newport' 'niddrie'
 'noble park' 'noble park north' 'north melbourne' 'north warrandyte'
 'northcote' 'notting hill' 'nunawading' 'oak park' 'oakleigh'
 'oakleigh east' 'oakleigh south' 'ormond' 'park orchards' 'parkdale'
 'parkville' 'pascoe vale' 'pascoe vale south' 'patterson lakes'
 'point cook' 'port melbourne' 'prahran' 'preston' 'princes hill'
 'research' 'reservoir' 'richmond' 'ringwood' 'ringwood north' 'ripponlea'
 'rosanna' 'rowville' 'roxburgh park' 'sandhurst' 'sandringham'
 'sassafras' 'scoresby' 'seabrook' 'seaford' 'seaholme' 'seddon' 'selby'
 'sherbrooke' 'skye' 'south kingsville' 'south melbourne' 'south morang'
 'south yarra' 'southbank' 'spotswood' 'springvale' 'springvale south'
 'st albans' 'st kilda' 'st kilda east' 'st kilda west' 'strathmore'
 'strathmore heights' 'sunshine north' 'surrey hills' 'sydenham'
 'taylors hill' 'taylors lakes' 'tecoma' 'templestowe' 'templestowe lower'
 'the basin' 'the patch' 'thomastown' 'thornbury' 'toorak' 'travancore'
 'tullamarine' 'upper ferntree gully' 'upwey' 'vermont' 'vermont south'
 'viewbank' 'wandin north' 'wantirna' 'wantirna south' 'warrandyte'
 'warranwood' 'waterways' 'watsonia' 'watsonia north' 'werribee'
 'west footscray' 'west melbourne' 'westmeadows' 'wheelers hill'
 'williamstown' 'williamstown north' 'windsor' 'yallambie' 'yarraville']

313

In [20]:
#Determined there are duplicates as suburbs and postcodes included for PO Boxes and Delivery Centres

indexNames2 = suburbpostcodemerge[suburbpostcodemerge['type'] != "Delivery Area" ].index

In [21]:
# Delete these row indexes from dataFrame
suburbpostcodemerge.drop(indexNames2 , inplace=True)

In [22]:
suburbpostcodemerge

,suburb,postcode,state,dc,type,lat,lon
1,abbotsford,3067,VIC,FITZROY DC,Delivery Area,-37.801781,144.998752
3,aberfeldie,3040,VIC,MOONEE PONDS DC,Delivery Area,-37.756690,144.896259
4,airport west,3042,VIC,NIDDRIE DC,Delivery Area,-37.711698,144.887037
5,albanvale,3021,VIC,ST ALBANS DC,Delivery Area,-37.745934,144.770027
6,albert park,3206,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.840705,144.955710
...,...,...,...,...,...,...,...
474,williamstown,3016,VIC,NEWPORT DC,Delivery Area,-37.856902,144.897698
477,williamstown north,3016,VIC,NEWPORT DC,Delivery Area,-37.857681,144.887041
479,windsor,3181,VIC,RICHMOND DC,Delivery Area,-37.856159,144.992200
482,yallambie,3085,VIC,HEIDELBERG WEST DEL CENTRE,Delivery Area,-37.727482,145.102309
483,yarraville,3013,VIC,WEST FOOTSCRAY DC,Delivery Area,-37.816178,144.889774

In [23]:
suburbpostcodemerge.to_csv('01_Outputs/melbourne_suburbs_postcode.csv', index=False)